#General server information and settings
sv_name :JRM1
sv_map JRnogravMountains
sv_warmup 1
sv_scorelimit 20
sv_timelimit 10
sv_gametype ctf

#In game command prompt for the password
sv_rcon_password password
sv_max_clients 12
sv_spectator_slots 10

#Port number that the server uses
sv_port 8308

#Server is not connected to the internet
sv_register 0