sv_name Trev CTF 1

sv_map TWM1

sv_register 0

sv_port 8305

sv_max_clients 12

sv_rcon_password TW

sv_rcon_bantime 0 

sv_warmup 1

#CTF Score Limit
sv_score_limit 300

#CTF Game Type
sv_gametype ctf

#CTF Message when joining
sv_motd Protect and capture the flags using the shadows.

sv_teamdamage 1

sv_powerups 1

